.card {
  color: white;
  width: 18vw;
  height: 24vh;
  min-width: 200px;
  border: 1px solid white;
  margin: 0;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1%;
  position: relative;
  text-align: center; 
  justify-content: space-between;
}

.card:hover{
  transform: scale(1.02);
}

.backgroundGreen {
  background-color: green;
}

.backgroundLightblue {
  background-color: lightblue;
}

.backgroundOrange {
  background-color: orange;
}

.backgroundPink {
  background-color: pink;
}

button {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: blue;
  cursor: pointer;
  border-radius: 50%;
}

.colorsButtons {
  background-color: white;
  width: 100%;
  text-align: center;
}

.footerCard {
  display: flex;
  justify-content: space-between;
  padding:10px 20px; 
  width: 100%;  
}

.icons{
  height: 3vh;
  width: 3vw; 
}

input {
  width: 58%;
  margin-top: 10px;
  border: none;
  background-color: transparent;
  text-align: center;
  color: white;
  outline: none;
  font-size: 20px;
  word-break: break-word;
  flex-grow: 1;
}

.text {
  width: 58%;
  margin: 10px 0; 
  font-size: 20px;
  word-break: break-word;
  flex-grow: 1; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  padding-top: 10px;
}